*,
*::before,
*::after {
    box-sizing: border-box;
}

/* html,
body {
    height: 100%;
} */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.home {
    background-color: #f3eed9;
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 41.25em;
    /* min-height: 660px; */
    /* margin: 0 auto; */
    line-height: 1.25em;
    /* border: 2px solid limegreen; */
}

.title {
    font-size: 2.5rem;
}

.home h1 {
    font-family: 'Playfair Display', serif;
    color: #824936;
    font-weight: 900;
}

.container,
.product-type--container {
    width: 85%;
    max-width: 70.5em;
    /* max-width: 1128px; */
    margin: 0 auto;

    /* border: 2px solid limegreen; */
}

.shop-by-product--title {
    background-color: #824936;
    font-size: 1.6875rem;
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-weight: 900;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

.product-type--container {
    max-width: 55.5em;
    /* max-width: 1128px; */
}

img {
    max-width: 100%;
    /* border: 2px solid orange; */
}

.product-type--section {
    /* margin: 0 auto; */
    position: relative;
    margin: 2em 0;
}

.product-type--item {
    position: relative;
    /* margin: 1.7325em 0; */
    /* width: 100%; */
}

/* .color-div{
    display: none;
} */

.product-type--link {
    position: absolute;
    color: #824936;
    background: rgba(255, 255, 255, 0.7);
    padding: 0.3125em 0.625em;
}

.view-all-products--link {
    background-color: rgba(255, 255, 255, 0.7);
    color: #824936;
    padding: 0.3125em 0.625em;
    text-transform: lowercase;
    letter-spacing: 0.125em;
    font-family: 'Playfair Display', serif;
}

footer {
    bottom: 0;
    background-color: #824936;
    color: #fff;
    padding: 2em 0;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: 0.125em;
}


.nav__list a {
    color: #fff;
    /* text-decoration: none; */
    font-family: 'Playfair Display', serif;
}

.img--container {
    border: 0.0625em solid #824936;
    margin: 0 0 0.5em 0;
    min-width: 100%;
}

/* Category page && Product page */

.wrapper {
    min-height: 100vh;
}

.product-container {
    margin: 1.75em 0 2.65em 0;
}

.category_name--title,
.all_products {
    margin: 0;
    text-align: center;
    background-color: #824936;
    color: #f3eed9;
    font-family: 'Playfair Display', serif;
    padding: 0.75em 0;
}

.category--main,
.products--main {
    margin: 0 0 1.5em 0;
    /* flex-grow: 1; */
}

.disabled {
    color: black;
    pointer-events: none;
}

.arr_key--name {
    color: #824936;
    /* font-style: italic; */
    font-weight: 900;
}

.price_detail .arr_key--value, .net_weight .arr_key--value{
    background-color:#824936;
    color: #fff;
    font-weight: bolder;
    padding: 0.5em 1.5em;
}

/* Responsive design */

@media (max-width: 629px) {
    .color-div {
        display: none;
    }
}

@media (min-width: 630px) {
    .product-type--item-div {
        display: flex;
        flex-direction: row;
        /* border: 0.0625em solid #824936; */
    }

    .product-type--item {
        min-width: 50%;
    }

    .color-div {
        min-width: 50%;
        background-color: #f3eed9;
        /* padding: 5em 0; */
        display: flex;
        align-items: center;
    }

    .img--container {
        margin: 0;
        min-height: 100%;
    }

    .color-div section ul li::before {
        /* <!-- Unicode for >> character --> */
        content: "\00BB";
    }

    li {
        list-style: none;
    }

    .color-div section ul{
        padding: 0;
    }

    .color-div--section{
        margin: 0 auto;
    }

    .product-container{
        display: flex;
        flex-direction: row;
    }

    .details-container{
        min-width: 50%;
        background-color: #f3eed9;
        display: flex;
        align-items: center;
    }

    .details-content{
        margin: 0 auto;
    }

    .price-net-container{
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
    }

    .product-img-container{
        min-width: 50%;
    }
}